body{
      margin: 0;
      min-height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      background: linear-gradient(to right, #EAB308, #9333EA, #D1D5DB);
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      padding: 20px;
        position: relative;
        overflow: hidden;

}
header{
    display: none;
}
#countdown{
    color: transparent;
    font-size: 2.5rem;
    -webkit-text-stroke: 3px black;
}
.cont{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center; 
    z-index: 2;
}
.image1, .image2, .image3, .image4{
    width: 400px;
    position: absolute;
    z-index: -1;
}
.image1{
    right: 0;
    bottom: 0;
}
.image2{
    left: 35%;
}
.image3{
    bottom: 50%;
    right: 0;
}
.image4{
    bottom: 0;
}

.gift{
    z-index: 3;
    width: 100vw;
    height: 100vh;
    display: none;
    justify-content: center;
    align-items: center;

}
.gift img{
    width: 500px;
    animation: pulse 2s infinite ; 
    cursor: pointer;
}

    .card {
      background: rgba(255, 255, 255, 0.9);
      border-radius: 16px;
      box-shadow: 0 8px 20px rgba(0,0,0,0.25);
      max-width: 700px;
      padding: 40px;
      text-align: center;
    }
    .card h1 {
      font-size: 2rem;
      font-weight: 800;
      color: #EAB308; /* gold */
      margin-bottom: 20px;
    }

    .card p {
      font-size: 1rem;
      color: #333;
      margin-bottom: 18px;
      line-height: 1.2;
    }

    .card h2 {
      font-size: 1.5rem;
      font-weight: 600;
      color: #9333EA; /* purple */
      margin-top: 30px;
    }




@keyframes pulse{
    0%,100%{
        transform: translateY(1);
        transform: scale(1);
        opacity: 1;
    }
    50%{
        transform: translateY(-1.3);
        transform: scale(1.2);
        opacity: 0.6;
    }
}

@media only screen and (max-width: 750px) {
.image1, .image3, .image4{
    width: 200px;
}
.image1{
    right: -10%;
}
.image2{
    width: 300px;
    left: 5%;
}
.image3{
    top: 20%;
    left: 35%;
}
.image4{
    left: -10%;
}
.gift img{
    width: 300px;
}
    .card {
      background: rgba(255, 255, 255, 0.9);
      border-radius: 16px;
      box-shadow: 0 8px 20px rgba(0,0,0,0.25);
      width: max-content;
      padding: 20px;
      text-align: center;
    }
    .card h1 {
      font-size: 20px;
      margin-bottom: 5px;
    }

    .card p {
      font-size: 12px;
      margin-bottom: 0;
    }

    .card h2 {
      font-size: 20px;
      margin-top: 5px;
    }

}